LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

#define IDC_EDIT1                     101
#define IDC_LINK1                     102
#define IDC_LINK2                     103

DIALOG DIALOGEX 0, 0, 300, 182
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
FONT 8, "Arial"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,123,159,54,17,0,WS_EX_CLIENTEDGE
    EDITTEXT        IDC_EDIT1,4,1,291,154,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | NOT WS_BORDER | WS_VSCROLL,
                    WS_EX_STATICEDGE
    CONTROL         "Visit my homepage!",IDC_LINK1,"AHyperlinkWndClassEx",WS_VISIBLE,5,158,100,18
    CONTROL         "Mail the author!",IDC_LINK2,"AHyperlinkWndClassEx",WS_VISIBLE,195,158,100,18
END
