#define COMBOR                          1000
#define COMBOG                          1001
#define COMBOB                          1002
#define IDC_STATIC                      -1

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

RGBDIALOG DIALOGEX 0, 0, 153, 114
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP |
    WS_VISIBLE | WS_CAPTION
CAPTION "Choose the RGB component pictures"
FONT 8, "Arial"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,51,93,50,14
    COMBOBOX        COMBOR,9,17,130,30,CBS_DROPDOWN | CBS_OWNERDRAWFIXED | CBS_LOWERCASE | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        COMBOG,9,47,130,30,CBS_DROPDOWN | CBS_OWNERDRAWFIXED | CBS_LOWERCASE | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        COMBOB,9,77,130,30,CBS_DROPDOWN | CBS_OWNERDRAWFIXED | CBS_LOWERCASE | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Red",IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | WS_GROUP,7, 7,19,8,WS_EX_TRANSPARENT
    CONTROL         "Green",IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | WS_GROUP, 7,37,19,8,WS_EX_TRANSPARENT
    CONTROL         "Blue",IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | WS_GROUP, 7,67,15,8,WS_EX_TRANSPARENT
END